/* make icons at extreme ends*/
@font-face {
  font-family: android;
  src: url(android.ttf)
}



body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  /*color: rgba(255, 255, 255, .5);*/
  font-family: android;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /*padding: 1rem;*/
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;*/
  height: 100vh;
  background: #fff;

}

#header{
  height: 40vh;
}
#icons {
  background: #fff;
}

#icons,
#output-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .25rem;
  margin-top: 1.2rem;
}

#icons p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

/*style the app title and subtitle */
#hero {
  text-align: center;
  position: relative !important;
}

#hero h1 {
  font-weight: 300;
  font-family: android;

}

#hero div {
  color: rgba(255, 255, 255, .5);
  color: #000;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#feed {
  position: relative !important;

}

#feed input,
#feed div {
  width: 100%;
  height: 2.5rem;
  border-radius: 7px;
  border: rgba(255, 255, 255, .5) solid .1px;
  text-align: center;
  outline: none;
  background: transparent;
  color: rgba(255, 255, 255, .5);

}

#feed div {
  border-top: none;
  background: transparent;

}

#feed input:first-child {
  border-bottom: none;
}

#divider {
  background: #201028 !important;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-content:center;
  flex-direction:column;
  padding-top: 10vh;
  position: relative;
}

#output-controls button {
  border-radius: 7px;
  padding: .75rem;
  outline: none;
  border: .1px solid rgba(255, 255, 255, .15);
  color: rgba(255, 255, 255, .75);
  background: inherit
}

#charLength {
  font-size: 75%;
  font-style: italic;
}